.chart-symbol {
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}
.default-color1.chart-symbol {
    -fx-background-radius: 5px;
    -fx-padding: 4px;
    -fx-shape: null;
}
.default-color2.chart-symbol {
    -fx-background-radius: 5px;
    -fx-padding: 4px;
    -fx-shape: null;
}
.default-color3.chart-symbol {
    -fx-background-radius: 5px;
    -fx-padding: 4px;
    -fx-shape: null;
}
.default-color4.chart-symbol {
    -fx-background-radius: 5px;
    -fx-padding: 4px;
    -fx-shape: null;
}
.default-color5.chart-symbol {
    -fx-background-radius: 5px;
    -fx-padding: 4px;
    -fx-shape: null;
}
.default-color6.chart-symbol {
    -fx-background-radius: 5px;
    -fx-padding: 4px;
    -fx-shape: null;
}
.default-color7.chart-symbol {
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}